<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome!</title>
        <meta charset="UTF-8">
    </head>
    <body style="background-color:aqua; font-family:Palatino;">
        <h1><center>This is a Flask Webpage for extracting images from NASA's API.</center></h1>
        <form action="http://localhost:5000/result" method="POST">
            <h2>Enter a Date: <input type="text" name="Date"/></h2>
            <p><input type="submit" value="Submit Date"/></p>
            <h2>When using this webpage, please be patient with the loading process.</h2>
        </form>
        <center><img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/NASA_logo.svg" alt="The NASA insignia"></img></center>
    </body>
</html>
